<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.testgradution.testgradution.mapper.DoctorMapper">
    <resultMap id="BaseResultMap" type="com.testgradution.testgradution.domain.Doctor" >
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password"  jdbcType="VARCHAR" property="password"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="id_number"  jdbcType="VARCHAR" property="idNumber"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="introduce"  jdbcType="VARCHAR" property="introduce"/>
        <result column="ks" jdbcType="VARCHAR" property="ks"/>
        <result column="hospital"  jdbcType="VARCHAR" property="hospital"/>
        <result column="age"  jdbcType="INTEGER" property="age"/>
        <result column="card_no"  jdbcType="INTEGER" property="cardNo"/>
        <result column="age"  jdbcType="INTEGER" property="age"/>
        <result column="sex"  jdbcType="INTEGER" property="sex"/>
        <result column="phone"  jdbcType="INTEGER" property="phone"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="pic" jdbcType="VARCHAR" property="pic"/>


    </resultMap>

    <sql id="baseColumn">
        id,name,password,sex,card_no,age,hospital,introduce,ks,address,email,id_number,phone,user_name,pic
    </sql>
    <insert id="registerDoctor" parameterType="com.testgradution.testgradution.domain.Admin">
        insert into gradutation.doctor(name,password,sex,card_no,age,hospital,introduce,ks,address,email,id_number,phone,
        user_name,pic)
        values (#{name},#{password},#{sex},#{cardNo},#{age},#{hospital},#{introduce},#{ks},#{address},#{email},#{idNumber},#{phone},#{userName},#{pic})
    </insert>
    <select id="doctorLogin" resultType="java.lang.Integer">
        select count(*) from gradutation.doctor where user_name=#{name} AND password=#{password}
    </select>

    <select id="selectAll" resultType="com.testgradution.testgradution.domain.Doctor">
        select <include refid="baseColumn"/> from  gradutation.doctor
    </select>

    <select id="selectByIds" resultType="com.testgradution.testgradution.domain.Doctor">
        select  <include refid="baseColumn"/> from gradutation.doctor  where id in
        <foreach collection="list"  item="item" open="(" separator="," close=")"  >
            #{item}
        </foreach>
    </select>

    <select id="selectByname" resultType="com.testgradution.testgradution.domain.Doctor">
        select  <include refid="baseColumn"/> from  doctor where user_name=#{username}
    </select>

</mapper>